<p><label>List size</label><%= raw(text_field_tag 'settings[list_size]', @settings['list_size']) %></p>

<p><label>Number precision</label><%= raw(text_field_tag 'settings[precision]', @settings['precision']) %></p>

