/*      Proprietà generiche     */

/*   # {} (per netbeans avaro di simboli da programmatore :))  */
.clear {
    clear: both;
}
.float-left {
    float: left;
}
.center {
    text-align: center;
    margin: 0 auto;
}


.icon-timesheet {
    background-image: url(../images/csv.png);
}


/*      Form        */

/*  Campi  */
#fields {
    width: 340px;
    height: 180px;
}
#fields first {
    border-right: 1px #e4e4d4 dotted;
}
.columns-group {
    width: 160px;
    text-align: left;
}

/*  Filtri  */
#filters {
    width: 990px;
    height: 200px;
    margin: 0 15px 30px 0;
}
#filters fieldset {
    padding: 0 0 0 35px;
}
#filters div {
    margin: 0 15px 0 0;
}
#date-options {
    margin-left: 10px;
}
#date-options input[type='radio'] {
    margin-left: -20px;
}
#date-options p {
    margin: 0;
    padding: 0;
}
#filters legend {
    margin: 0 0 0 -27px;
}



/*      Pulsanti        */

#timesheet-form .button-to div {
    clear: both;
    display: inline;
}