<h1><%= l(:timesheet_title) %></h1>

<%# TODO internazionalizzazione su tutte le viste %>

<%= render :partial => 'form' %>
<%= stylesheet_link_tag "main.css", :plugin => "redmine_timesheet_extensions", :media => 'all' %>